
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>BKrawl Planner</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">


<!-- mapbox API -->
<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

<!-- Custom styles for this template -->
<link href="static/css/starter-template.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <style>
    #map{ width: 500px; height: 300px; padding-left: 150px}
  </style>

<!-- Javascript variiable definiation -->
<script>

</script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">BKrawl Planner</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</nav>

<br><br>




    <div class="container">
      <div class="starter-template">
        <h3>Check out your custom krawl! </h3>
      </div>
    </div>

<div class="container">
  <table class="table table-hover">
    <tr><th>Itinerary</th><th> Address </th><th> Avaliable Beers </th>
    <tr><td> Start </td><td>{{ start[0] }}</td><td></td>
      {% for bar in bar_add %}
    <tr><td>{{ bar[0] }}</td><td>{{bar[1]}}</td> <td>beers</td>
      {% endfor %}
    <tr><td>End </td><td>{{ end[0] }}</td><td></td>

    </table>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    </div>

    <div class="container">

  <div id="map"></div>

  <script>

var start_js = 'Start: {{start[0]}}'
var startlat_js = '{{start[1]}}'
var startlng_js= '{{start[2]}}'


var end_js = 'End: {{end[0]}}'
var endlat_js= '{{end[1]}}'
var endlng_js= '{{end[2]}}'



  // initialize the map
  L.mapbox.accessToken = 'pk.eyJ1IjoiYXN0cm9taXMiLCJhIjoiY2llb21xbWc3MGh5d3NzbTI1d2tobm9lciJ9.AIRuntjIXEdNM5ewRSysbA';
// Create a map in the div #map


var map = L.mapbox.map('map', 'astromis.cieomqluw0hzzsym3glv43rp8')
    .setView([40.69530000,-73.995900000], 13);

L.marker([startlat_js,startlng_js]).addTo(map)
    .bindPopup(start_js);

L.marker([endlat_js,endlng_js]).addTo(map)
    .bindPopup(end_js);


var line_points = {{path_list}};
var polyline_options = {
    color: '#000'
};

var polyline = L.polyline(line_points, polyline_options).addTo(map);

{% for bar in bar_dic %}
var bar_js = '{{bar}}'
var bar_latlng = {{bar_dic[bar][1:2]}}
var arraylength = bar_latlng.length;
for (var i = 0; i < arraylength; i++) {
L.marker([bar_latlng[0][0], bar_latlng[0][1]]).addTo(map)
  .bindPopup(bar_js).openPopup() 
}
{% endfor %}


// zoom the map to the polyline
//map.fitBounds(polyline.getBounds());

  </script>
</div>
  
    <div class="container">
      <div class="starter-template">
      <!-- <h3>Krawl Directions:</h3>
        <p class="lead">  The directions from start to first bar is:
         <br> {{ path_list}} 
        </p> -->

        <h3>
           Enjoy and remember to always Krawl safely.
        </h3>
      </div>


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
</body>
</html>
